{{define "main"}}
	{{.Content}}
	<div class="card__container">
		{{ range .Pages }}
			<div class="card__card">
				<div class="image__container">
					<img src="{{.Params.image | relURL}}" alt="placeholder image" class="card__image">
				</div>
				<div class="card__info">
					<div class="tag__group">
						{{ if .Params.tags }}
							{{range .Params.tags}}
								<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="card__tag">{{ . }}</a>
							{{end}}
						{{end}}
						{{ if .Params.categories }}
							{{range .Params.categories}}
								<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="card__tag">{{ . }}</a>
							{{end}}
						{{end}}
					</div>
					<a href="{{.RelPermalink}}" class="card__title">{{.Title}}</a>
					<p class="card__summary">{{.Summary | truncate 150}}</p>
				</div>
			</div>
		{{ end }}
	</div>
{{end}}
