{{define "main"}}
	<div class="article__container">
		<h1 class="article__title">{{.Title}}</h1>
		<div class="article__info">
			<span class="article__author">{{if .Params.author}}{{.Params.Author}}{{end}}</span>
			<span class="article__divider">●</span>
			<span class="article__date">Published {{ dateFormat "Jan 2, 2006" .Date }}</span>
		</div>
		<figure>
			<img src="{{ .Params.imageMain | relURL }}" class="article__img">
			<figcaption>Put text here for the image</figcaption>
		</figure>
		<div class="article__content">{{.Content}}</div>
		<div class="article__comments">
			<h3>Comments</h3>
			{{ template "_internal/disqus.html" . }}
		</div>
	</div>
{{end}}
